.home-view {
    .partner-container {
        @media @phone {
            flex-direction: column;
            margin-top    : 0px;

            >img {
                margin-top: 64px;
            }
        }
    }

    .footer-container {
        @media @phone {
            flex-direction: column;
            margin-top    : 0px;
        }
    }

    .sns-container {
        @media @phone {
            margin-top: 32px;
        }
    }
}