.home-view {
    .partner-container {
        @media @phone {
            flex-direction: column;
            margin-top    : 0px;

            >img {
                margin-top: 64px;
            }
        }
    }

    .team-container {
        >.content {
            @media @phone {
                display: flex;
                flex-direction: column;
            }
        }
    }
}